@CHARSET "UTF-8";


   .input-line{
    width:680px;
    height:31px;
    margin:20px auto;
   }
   #search-left,#search-right,#searchText{
     height:31px;
      border-top:1px solid red;
      border-bottom:1px solid red;
   }
   #search-left{
     width:70px;
     float:left;
      background-color:#f5f5f5;
      padding:5px ;
      border-left:1px solid red;
      text-align:center;
   }
   #searchText{
     width:450px;
     padding-left:5px;
     border-left:1px solid #e5e5e5;
     float:left;
     border-right:1px solid #fff;
   }
   #search-right{
    float:left;
    width:110px;
    background:url(../../images/goodsQuery/search-right.png) no-repeat right center;
   }
   #goodsList{
   }
   
   .options{
     width:70%;
     margin:20px auto;
   }
   
   .option-title{
      font-size:16px;
   }
   
   .options label{
   		margin-left:10px;
   }
   
   .money{
     margin-left:5px;
     width:80px;
     background:url(../../images/goodsQuery/money.PNG) no-repeat -2px 0px;
     padding-left:12px;
   }
   
   #goodsList{
    width:100%;
    min-height:1000px;
    border:0;
   }

